<div class="form-group" ng-switch on="attr.format">
  <span ng-switch-when="string">
    <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
    <div class="col-sm-10" style="padding-top: 7px;">
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.computed">
        <span ng-bind="attr.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <input type="text" name="{{attr.name}}"
          class="form-control"
          ng-model="attr.value"/>
      </span>
    </div>
  </span>
  <span ng-switch-when="number">
    <span ng-if="!attr.computed">
      <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
      <div class="col-sm-10" style="padding-top: 7px;">
        <p ng-bind="attr.help" ng-show="attr.help"></p>
        <input type="number" name="{{attr.name}}" size="12"
          class="form-control col-lg-4"
          ng-model="attr.value"/>
      </div>
    </span>
  </span>
  <span ng-switch-when="textArea">
    <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
    <div class="col-sm-10" style="padding-top: 7px;">
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <textarea rows="8" cols="80" name="{{attr.name}}"
        class="form-control col-lg-4"
        ng-model="attr.value"
        ng-bind="attr.value"></textarea>
    </div>
  </span>
  <span ng-switch-when="multipleSelect">
    <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
    <div class="col-sm-10">
      <span ng-if="attr.multi">
        <select multiple size="8" name="{{attr.name}}"
          style="float:left; width: 25%;"
          class="form-control"
          ng-model="attr.value"
          ng-options="item.desc for item in attr.choices track by item.id"></select>
      </span>
      <span ng-if="!attr.multi">
        <select name="{{attr.name}}"
          style="float:left; width: 25%;"
          class="select form-control" 
          ng-model="attr.value"
          ng-options="item.desc for item in attr.choices track by item.id"></select>
      </span>
      <span class="col-sm-12" style="float: left; width: 75%; padding-top: 7px;">
        <p ng-bind="attr.help" ng-show="attr.help"></p>        
      </span>
    </div>
  </span>
  <span ng-switch-when="dateRangeSelect">
    <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
    <div class="col-sm-10" style="padding-top: 7px;">
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.computed">
        <span ng-bind="attr.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <select name="{{attr.name}}"
          style="float: left; width: 30%"
          class="select form-control col-lg-4"
          ng-model="attr.value"
          ng-options="item.desc for item in attr.choices track by item.id"></select>
      </span>
      <span ng-if="attr.child.computed">
        <span ng-model="attr.child.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <select name="{{attr.child.name}}"
        style="float: left; width: 40%;"
          class="form-control"
          ng-model="attr.child.value"
          ng-options="item.desc for item in attr.child.choices track by item.id"></select>
      </span>
    </div>
  </span>
  <span ng-switch-when="date">
    <label for="{{attr.name}}" ng-bind="attr.label" class="col-sm-2 control-label text-capitalize"></label>
    <div class="col-sm-10" style="padding-top: 7px;">
      <span ng-show="attr.errors" ng-bind="attr.errors" class="alert alert-danger" role="alert"></span>
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.computed">
        <span ng-bind="attr.printValue"></span>
      </span>
      <span ng-if="!attr.computed">
        <input name="{{attr.name}}"
          ui-date="project.dateOptions" 
          ui-date-format="MM/dd/yy"
          class="form-control col-lg-2"
          ng-model="attr.value"
          type="text"
         />
      </span>
    </div>
  </span>
</div>
