<!--div project-data-display
  datasource="project.as.getProjectAttributes('portfolio')"
  error="project.ds.error"
  header="'Portfolio Attributes'"
  mode="project.ds.currentMode()"
  on-save-click="project.ds.saveProject"
  show-success="project.ds.showEditSuccess()"
  success="project.ds.success"
  table="'portfolio'"
  ></div--> 

  <h4 class="col-sm-12">Portfolio Attributes</h4>
  <formly-form model="project.ds.projectModel" 
    fields="project.as.formlyFields['portfolio']"
    options="project.editOptions">
    <button type="submit" class="col-sm-offset-2"
      ng-click="project.ds.saveProject('portfolio')">Save</button>
  </formly-form>
