<!--
<div project-data-display
  datasource="project.as.getProjectAttributes('project')"
  error="project.ds.error"
  header="'Project Management Attributes'"
  mode="project.ds.currentMode()"
  on-save-click="project.ds.saveProject"
  show-success="project.ds.showEditSuccess()"
  success="project.ds.success"
  table="'project'"
  ></div>-->

  <h4 class="col-sm-12">Project Management Attributes</h4>
  <formly-form model="project.ds.projectModel" 
    fields="project.as.formlyFields['project']"
    options="project.editOptions">
    <button type="submit" class="col-sm-offset-2"
      ng-click="project.ds.saveProject('project')">Save</button>
  </formly-form>
