<span ng-switch on="attr.format">
  <span ng-switch-when="string">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.computed">
        <span ng-bind="attr.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <input type="text" size="60"
          class="form-control col-lg-4"
          ng-model="attr.value"/>
    </dd>
  </span>
  <span ng-switch-when="number">
    <span ng-if="!attr.computed">
      <dt>
        <label ng-bind="attr.label" class="text-capitalize"></label>
      </dt>
      <dd>
        <p ng-bind="attr.help" ng-show="attr.help"></p>
        <input type="text" size="12"
          class="form-control col-lg-4"
          ng-model="attr.value"/>
      </dd>
    </span>
  </span>
  <span ng-switch-when="textArea">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <textarea rows="8" cols="80"
        class="form-control col-lg-4"
        ng-model="attr.value"
        ng-bind="attr.value"></textarea>
    </dd>
  </span>
  <span ng-switch-when="multipleSelect">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <table style="width: 100%">
        <tr>
          <td ng-if="attr.multi" style="width: 25%; vertical-align: top;">
            <select multiple size="8" style="float:left"
              class="form-control col-lg-4"
              ng-model="attr.value"
              ng-options="item.desc for item in attr.choices track by item.id"></select>
          </td>
          <td ng-if="!attr.multi" style="width: 25%; vertical-align: top;">
            <select
              class="select form-control col-lg-4" 
              ng-model="attr.value"
              ng-options="item.desc for item in attr.choices track by item.id"></select>
          </td>
          <td style="width: 60%; vertical-align: top;">
            <p ng-bind="attr.help" ng-show="attr.help" class="col-lg-10"></p>        
          </td>
        </tr>
      </table>
    </dd>
  </span>
  <span ng-switch-when="lines">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <table style="width: 100%">
        <tr>
          <td ng-if="attr.multi" style="width: 25%; vertical-align: top;">
            <select multiple size="8" style="float:left"
              class="form-control col-lg-4"
              ng-model="attr.value"
              ng-options="item.desc for item in attr.choices track by item.id"></select>
          </td>
          <td style="width: 60%; vertical-align: top;">
            <p ng-bind="attr.help" ng-show="attr.help" class="col-lg-10"></p>        
          </td>
        </tr>
      </table>
    </dd>
  </span>
  <span ng-switch-when="dateRangeSelect">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.child.computed">
        <span ng-model="attr.child.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <select style="float: left;"
          class="form-control col-lg-4"
          ng-model="attr.child.value"
          ng-options="item.desc for item in attr.child.choices track by item.id"></select>
      </span>
      <span ng-if="attr.computed">
        <span ng-bind="attr.value"></span>
      </span>
      <span ng-if="!attr.computed">
        <select style="float: left;"
          class="select form-control col-lg-4"
          ng-model="attr.value"
          ng-options="item.desc for item in attr.choices track by item.id"></select>
      </span>
    </dd>
  </span>
  <span ng-switch-when="date">
    <dt>
      <label ng-bind="attr.label" class="text-capitalize"></label>
    </dt>
    <dd>
      <p ng-bind="attr.help" ng-show="attr.help"></p>
      <span ng-if="attr.computed">
        <span ng-bind="attr.printValue"></span>
      </span>
      <span ng-if="!attr.computed">
        <input ui-date="project.dateOptions" 
          ui-date-format="MM/dd/yy"
          class="form-control col-lg-2"
          ng-model="attr.value"
          type="text"
         />
      </span>
    </dd>
  </span>
</span>
