<div>
  <ul class="list-inline text-right">
    <li ng-show="(project.ds.currentMode() == 'view' || ctrl.ds.currentMode() == 'comment.add') && project.log_s.canEditProjects()">
      <a ui-sref="project.description.edit({projectID:project.ds.projectID})" ng-click="project.changeMode('project.description.edit');">Edit this project</a>
    </li>
    <li ng-show="(project.ds.currentMode() != 'view' && ctrl.ds.currentMode() != 'comment.add') && project.log_s.canEditProjects()">
      <a ui-sref="project.detail({projectID:project.ds.projectID})" ng-click="project.changeMode('project.detail');">View this project</a>
    </li>
    <li ng-show="project.ds.currentMode() != 'comment.add' && project.log_s.canAddComments()">
      <a ui-sref="project.comment.add({projectID:project.ds.projectID})")>Add a comment</a>
    </li>
    <li ng-show="project.ds.currentMode() == 'comment.add' && project.log_s.canEditProjects()">
      Add a comment
    </li>
    <li ng-show="project.ds.currentMode() != 'disposition.add' && project.log_s.canEditProjects()">
      <a ui-sref="project.disposition.add({projectID:project.ds.projectID})">Add a disposition</a>
    </li>
    <li ng-show="project.ds.currentMode() == 'disposition.add' && project.log_s.canEditProjects()">
      Add a disposition
    </li>
    <li ng-show="project.ds.currentMode() != 'attach' && project.log_s.canEditProjects()">
      <a ui-sref="project.attach({projectID:project.ds.projectID})" ng-click="project.jumpToAtachFile();">Attach a File</a>
    </li>
    <li ng-show="project.ds.currentMode() == 'attach' && project.log_s.canEditProjects()">
      Attach a File
    </li>
  </ul>
</div>
