decorator==4.0.9
Flask==0.10.1
Flask-Cors==2.1.2
Flask-JWT==0.3.2
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
infinity==1.4
intervals==0.7.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyJWT==1.4.0
six==1.10.0
SQLAlchemy==1.0.12
SQLAlchemy-Utils==0.32.6
validators==0.10.1
Werkzeug==0.11.9
WTForms==2.1
WTForms-Alchemy==0.16.1
WTForms-Components==0.10.0
WTForms-JSON==0.2.10
