<div class="container">
  <h3 class="clearfix">Select a Project</h3>

  <div jump-to-project-id 
    on-submit="select.jumpToProject" label="'Jump'" 
    help="'Enter a numeric project ID and go to that project.'"></div>

  <div jump-to-project-choice 
    on-submit="select.jumpToProject"
    label="'Select'" options="select.masterList().allProjects" 
    help="'Select a project from the list and go to that project.'"></div>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-2 col-lg-2">
        Filter:
      </label>
      <div class="col-xs-10 col-lg-10">
        <div class="input-group form-control-static">
          <a ui-sref="filter">Build a project selection filter.</a>
        </div>
      </div>
    </div>
  </div>

  <form name="breakdownForm" class="form-horizontal" novalidate
    ng-submit="select.ss.updateBreakdownByAttribute()">
    <div class="form-group">
      <label class="control-label col-xs-2 col-lg-2">
        Break Down:
      </label>
      <div class="col-xs-10 col-lg-10">
        <div class="input-group">
          <select name="breakdownAttr" id="breakdownAttr"
            class="form-control"
            aria-describedBy="helpBlock3"
            ng-model="select.ss.masterList.breakdownAttr"
            ng-options="item.desc for item in select.ss.getBreakdownChoices()"
            ng-change="select.ss.updateBreakdownByAttribute()">
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"> Go </button>
          </span>
        </div>
        <span id="helpBlock3" class="help-block">
            Select an attribute and Go to see the breakdown of projects by values of that attribute.
            Click on an attribute value in the results to go to a list of matching projects. Disposition
            attributes are broken down on the values from the most recent planning period only.
        </span>
      </div>
    </div>
  </form>

  <div id="breakdown_result" ng-show="select.ss.masterList.breakdownAttr" 
    class="form-horizontal">
    <div class="col-xs-offset-2 col-xs-10">
      <span class="control-label col-xs-6" ng-bind="select.ss.masterList.breakdownAttr.desc"></span>
      <span class="col-xs-1" style="text-align: right;padding-top: 7px;"> count </span>
    </div>
    <div ng-repeat="breakdown_row in select.ss.getBreakdownByAttribute()"
      class="col-xs-offset-2 col-lg-offset-2 col-xs-10 col-lg-10">
      <span class="control-label col-xs-6">
        <a href="" ng-click="select.ss.jumpToBreakdownTable(breakdown_row)"
          ng-bind="breakdown_row.desc"></a>
      </span>
      <span class="col-xs-1" style="text-align: right;padding-top: 7px;"
        ng-bind="breakdown_row.projectList.length"
        ng-class="{final_breakdown_row: $last}"></span>
      <span class="col-xs-3">&nbsp;</span>
    </div>
    <div class="col-xs-offset-2 col-xs-10">
      <span class="control-label col-xs-6">
        total
      </span>
      <span class="col-xs-1" style="text-align: right;padding-top: 7px;"
        ng-bind="select.ss.getBreakdownTotal()"></span>
      <span class="col-xs-4">
        <button class="btn btn-default" type="button" ng-click="select.ss.clearBreakdown()"> Clear </button>
      </span>
    </div>
  </div>

  <form name="searchForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <label for="searchText" class="control-label col-xs-2 col-lg-2">
        Search:
      </label>
      <div class="col-xs-10 col-lg-10">
        <div class="input-group">
          <input type="text" name="searchText" id="searchText" 
            class="form-control"
            ng-model="select.ss.getMasterList().searchText"
            placeholder="keywords or phrase"
            aria-describedBy="helpBlock4">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="select.ss.clearSearchText()"> Clear </button>
          </span>
        </div>
        <span id="helpBlock4" class="help-block">Search through project names and abstracts.
          Matches will be displayed below as you type.</span>
        <span>
          <span style="vertical-align: text-top;">
            Join words:&nbsp;
          </span>
          <span class="radio-inline">
            <label>
              <input type="radio" name="name_absLogic" id="name_absLogic_or" value="or" 
                ng-model="select.ss.getMasterList().name_absLogic"> with 'or'
            </label>
          </span>
          <span class="radio-inline">
            <label>
              <input type="radio" name="name_absLogic" id="name_absLogic_and" value="and" 
                ng-model="select.ss.getMasterList().name_absLogic"> with 'and'
            </label> or
          </span>
          <span class="radio-inline">
            <label>
              <input type="radio" name="name_absLogic" id="name_absLogic_phrase" value="phrase" 
                ng-model="select.ss.getMasterList().name_absLogic">
              as a phrase.
            </label>
          </span>
        </span>
        <div class="row col-lg-8">
          <span style="vertical-align: text-top;">
            Scope:&nbsp;
          </span>
          <div class="radio-inline">
            <label>
              <input type="radio" value="0" name="finalID" ng-model="select.ss.getMasterList().finalID">
              active projects only
            </label>
            or
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" value="" name="finalID" ng-model="select.ss.getMasterList().finalID">
              all projects.
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="searchTextResult" ng-show="select.ss.getMasterList().searchText" class="col-xs-offset-2 col-lg-offset-2 col-xs-10 col-lg-10">
    <p>There are {{ filtered.length }} matches:</p>
    <dl ng-repeat="project in filtered = (select.masterList().allProjects | nameSearch:select.ss.getMasterList().searchText:select.ss.getMasterList().name_absLogic:select.ss.getMasterList().finalID)"> 
      <dt>{{project.projectID}}. <a href="" ng-click="select.jumpToProject(project.projectID)">{{project.name}}</a>
      </dt>
      <!-- dd read-more content="{{ project.abstract }}" limit="200">></dd -->
      <dd>{{ project.abstract }}</dd>
    </dl>
    <div class="row col-lg-4">
      <button class="btn btn-default" type="button" ng-click="select.ss.clearSearchText()"> Clear </button>
    </div>
  </div>
</div>
