<span ng-if="ctrl.mode=='view'">
  <span ng-if="!attr.multi">
    <span ng-bind="attr.value.desc"></span>
  </span>
  <span ng-if="attr.multi">
    <span ng-bind="attr.printValue"></span>
  </span>
</span>
<span ng-if="ctrl.mode=='edit' || ctrl.mode=='edit.detail' || ctrl.mode == 'add'">
  <span ng-if="attr.multi">
    <select multiple size="8" name="{{attr.name}}"
      style="float:left; width: 25%;"
      class="form-control"
      ng-model="attr.value"
      ng-options="item.desc for item in attr.choices track by item.id"></select>
  </span>
  <span ng-if="!attr.multi">
    <select name="{{attr.name}}"
      style="float:left; width: 25%;"
      class="select form-control" 
      ng-model="attr.value"
      ng-required="attr.required"
      ng-options="item.desc for item in attr.choices track by item.id"></select>
  </span>
  <span class="col-sm-12" style="float: left; width: 75%; padding-top: 7px;">
    <p ng-bind="attr.help" ng-show="attr.help"></p>        
  </span>
</span>