
<div ng-show="ctrl.showSuccess()" class="col-sm-offset-2 col-sm-10 alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">×</button>
  <span ng-bind="ctrl.success"></span>
</div>
<span ng-show="ctrl.error" class="col-sm-offset-2 col-sm-10 alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">×</button>
  <span ng-bind="ctrl.error"></span>
</span>

<div ng-if="ctrl.mode == 'view' || ctrl.mode == 'edit' || ctrl.mode == 'edit.detail'">
  <h4 class="col-sm-12" ng-bind="ctrl.header"></h4>
</div>
<div ng-if="ctrl.mode == 'add'">
  <h4 class="col-sm-12">Add a comment </h4>
</div>

<div ng-if="ctrl.mode == 'add'">
  <div project-data-comment-detail></div>
</div>

<div class="form-group" ng-repeat="comment in ctrl.datasource()">
  <div ng-if="(ctrl.mode == 'edit.detail' && ctrl.isSelected(comment))">
    <div project-data-comment-detail></div>
  </div>
  <div ng-if="!(ctrl.mode == 'edit.detail' && ctrl.isSelected(comment))">
    <div project-data-comment></div>
  </div>
</div>

