<html>
  <head></head>
  <body >
    <div ng-controller="Project as project">
      <span style="float:right;margin-top: -26px;margin-right: 15px">
        <span ng-show="project.ds.currentMode() == 'view' && (currentUser.roles.indexOf('Curator') > -1 || currentUser.roles.indexOf('Manager') > -1)"><a ui-sref="project.edit" ng-click="project.changeMode();">Edit this project</a></span>
        <span ng-show="project.ds.currentMode() == 'edit' && (currentUser.roles.indexOf('Curator') > -1 || currentUser.roles.indexOf('Manager') > -1)"><a ui-sref="project.detail" ng-click="project.changeMode();">View this project</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-show="currentUser.roles.length > 0">Add a Comment</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-show="currentUser.roles.length > 0">Attach a File</span>
      </span>
      <h1>{{ project.masterList().projectID}}: {{project.masterList().projectName}}</h1>
      <table class="table">
        <tr 
          ng-repeat="attr in project.attributes() track by $index" 
          ng-include src="'static/project/templates/edit-field.html'">
        </tr>
      </table>
    </div>
  </body>
</html>
