<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="container" project-sub-headings></div>
    
    <div  class="container">
      <h3>{{ project.masterList().projectID}}: {{project.masterList().projectName}}</h3>
      <ul class="nav navbar-default nav-tabs col-lg-12" ng-show="project.ds.editMode()">
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'description'}"><a ui-sref="project.description.edit({projectID:project.ds.projectID})">Description</a></li>
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'portfolio'}"><a ui-sref="project.portfolio.edit({projectID:project.ds.projectID})">Portfolio</a></li>
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'disposition'}"><a ui-sref="project.disposition.edit({projectID:project.ds.projectID})">Dispositions</a></li>
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'projectMan'}"><a ui-sref="project.projectMan.edit({projectID:project.ds.projectID})">Project Management</a></li>
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'comment'}"><a ui-sref="project.comment.edit({projectID:project.ds.projectID})">Comments</a></li>
        <li role="presentation" ng-class="{active:project.ds.currentSubtab() == 'attach'}"><a ui-sref="project.attach.edit({projectID:project.ds.projectID})">Attach a File</a></li>
      </ul>
                
      <div class="clearfix">
        <form name="projectForm" novalidate class="form-horizontal">
        
        <div ui-view></div>
  
        </form>

      <div ng-show="project.ds.editMode()">
        <div ng-show="project.as.errors" ng-repeat="error in project.as.errors">
          <span ng-bind="error"></span>
        </div>
      </div>
  
      </div>
    </div>

    <!-- Put custom templates here -->
    <script type="text/ng-template" id="datepicker.html">
      <p class="input-group">
        <input  type="text"
                id="{{::id}}"
                name="{{::id}}"
                ng-model="model[options.key]"
                class="form-control"
                ng-click="datepicker.open($event)"
                uib-datepicker-popup="{{to.datepickerOptions.format}}"
                is-open="datepicker.opened"
                datepicker-options="to.datepickerOptions" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </script>
    <script type="text/ng-template" id="label-wrapper.html">
    <div>
      <label for="{{id}}" class="control-label text-capitalize" ng-class="formState.horizontalLabelClass">
        {{to.label}} {{to.required ? '*' : ''}}
      </label>
      <div ng-class="formState.horizontalFieldClass">
        <formly-transclude></formly-transclude>
      </div>
      </div>
    </script>
    <script type="text/ng-template" id="display-template.html">
    <div>
      <p class="form-control-static">{{model[options.key]}}</p>
      </div>
    </script>
    <script type="text/ng-template" id="textarea-template.html">
    <div>
      <textarea ng-if="!formState.readOnly" class="form-control" ng-bind="model[options.key]"></textarea>
      <p ng-if="formState.readOnly" class="form-control-static">{{model[options.key]}}</p>
      </div>
    </script>
    <script type="text/ng-template" id="displayTextArea-template.html">
    <div>
      <p class="form-control-static">{{model[options.key].split("\n\n").join("<br><br>")}}</p>
      </div>
    </script>
    <script type="text/ng-template" id="displayDate-template.html">
    <div>
      <p class="form-control-static">{{model[options.key] | amDateFormat:"MMM DD, YYYY"}}</p>
      </div>
    </script>
    <script type="text/ng-template" id="displayDaterange-template.html">
    <div>
      <p class="form-control-static">FY{{model[options.key].start.get("year")}} Q{{model[options.key].end.get("quarter")}} 
      </p>
      </div>
    </script>
    <script type="text/ng-template" id="displayTimestamp-template.html">
    <div>
      <p class="form-control-static">{{model[options.key] | amUtc | amLocal | amCalendar:referenceTime:formats}} 
      </p>
      </div>
    </script>
    <script type="text/ng-template" id="input-template.html">
    <div>
      <input ng-if="!formState.readOnly" class="form-control" ng-model="model[options.key]">
      <p ng-if="formState.readOnly" class="form-control-static">{{model[options.key]}}</p>
      </div>
    </script>
    <script type="text/ng-template" id="input-template.html">
    <div>
      <input ng-if="!formState.readOnly" class="form-control" ng-model="model[options.key]">
      <p ng-if="formState.readOnly" class="form-control-static">{{model[options.key]}}</p>
      </div>
    </script>

  </body>
</html>
